#contenedorViajes {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #f1f2f4;
    background: #fff;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
  }
  
  .datosViaje {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
  
  .fecha {
    color: #404040;
    font-size: 10px;
  
    font-weight: 400;
  }
  
  .montoViaje {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #404040;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
  .accionesViaje {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }
  .datosViaje {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
  
  .iconoVerViaje {
    font-size: 1em !important;
  }
  
  .iconoEditarViaje {
    color: white;
  }
  